@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-300;
}

.btn-primary {
  @apply bg-violet-700 px-4 py-2 rounded-lg border-none outline-none font-semibold;
}
.title-gradient{
  background: linear-gradient(to bottom,#6D28D9,#D1D5DB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-bg{
  background-image: url(".././../public/1.jpg");
  background-position: center;
  background-size: cover;
  /*filter: grayscale(100%);*/
}